{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "**/*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": [
        "**/*.ts",
        "**/*.js",
        "**/*.mjs",
        "**/*.cjs"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}